<!-- copied from https://acuments.com/uploading-audio-video-pdf-with-action-text.html -->
<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.video?
        #The poster attribute specifies an image to be shown while the video is downloading, or until the user hits the play button. If this is not included, the first frame of the video will be used instead.
        poster = blob.representable? ?
            blob.representation(resize_to_limit: [ 1024, 768 ]).processed.url :
            nil
            # '/images/video-image.gif' #image_tag('video-image.gif')
 # Example: https://puffintours-prod-rjjr63dzrq-ew.a.run.app/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBYQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a0c40e307572348169246f3778a1cfd9dfa70053/132d7c57-481c-4212-a682-b6f8da55e068.mp4
  %>
    <!-- poster=< % = polymorphic_url(blob.representation(resize_to_limit: [ 1024, 768 ])) rescue nil  -->
    <video
      controls="false"
      width="100%"
      poster=<%=poster rescue nil %>
    >
      <source src= <%= rails_blob_url(blob) %>, type=<%= blob.content_type %> >
    </video>
    <%= link_to blob.filename.to_s, rails_blob_url(blob) rescue :Err %>
    <%#= blob.representation(resize_to_limit: [ 1024, 768 ])) if blob.representable? %>
    <%= blob.representation(resize_to_limit: [100, 100]).processed.url if blob.representable?  %>

  <% elsif blob.audio? %>
    <audio controls="true" width="100%" preload="metadata">
      <source src= <%= rails_blob_url(blob) %>, type=<%= blob.content_type %> >
    </audio>
  <% elsif blob.content_type == 'application/pdf' %>
    <embed src=<%= rails_blob_url(blob) %> width="800" height="500"
           type="application/pdf">
  <% elsif blob.content_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
    <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=<%= rails_blob_url(blob) %>' width='100%' height='500px' frameborder='0'>
    </iframe>
<% elsif blob.representable? %>
    <%= image_tag blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [ 800, 600 ] : [ 1024, 768 ]) %>
  <% end %>

  <!-- Questa parte e anche qui: https://edgeguides.rubyonrails.org/action_text_overview.html#rendering-rich-text-content -->
  <figcaption class="attachment__caption">
    <% if caption = blob.try(:caption) %>
      <%= caption %>
    <% else %>
      <span class="attachment__name"><%= blob.filename %></span>
      <span class="attachment__size"><%= number_to_human_size blob.byte_size %></span>
    <% end %>
    <span> Â· </span>
    <%= link_to "Download", rails_blob_path(blob, disposition: "attachment") %>
  </figcaption>
</figure>
<!--
(ðŸ’›Brought by CarlessoðŸ’›)
DEBUG: blob.filename.extension: application/pdf
Blob.id: <tt><%= blob.class %>.find(<%= blob.id %>)</tt>
-->
<%#=image_tag('video-image.gif')%>
<%= link_to "ðŸŒ", rails_blob_path(blob, disposition: "attachment") %>
