<!--
<div id="<%= dom_id comment %>">
  <p>
    <strong>Body:</strong>
    "<i><%= comment.body %><i>"
  </p>


  <p>
    <strong>Vote:</strong>
    <%= star_rating comment.vote %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

</div>
-->
<% unless !comment.persisted? %>
  <div class="card-body"  id="<%= dom_id comment %>">
      <b><%= link_to comment.body.chomp, [comment.article, comment] %></b>
        (<i><%= comment.user or '😷' %></i>)
         <%= star_rating comment.vote %>
  </div>
<% end %>
