<!--
<div id="<%= dom_id comment %>">
  <p>
    <strong>Body:</strong>
    "<i><%= comment.body %><i>"
  </p>


  <p>
    <strong>Vote:</strong>
    <%= star_rating comment.vote %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

</div>
-->
<% unless !comment.persisted? %>
  <div class="card"  id="<%= dom_id comment %>">
    <div class="card-body">
      💬 "<i><%= comment.body %><i>"
        (<b><%= comment.user or '😷' %></b>)
         <%= star_rating comment.vote %>
    </div>
  </div>
<% end %>
