<%= form_with(model: article) do |form| %>
  <%= render "application/error_messages", object: article %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <!-- Upload MainImage https://edgeguides.rubyonrails.org/active_storage_overview.html -->
  <div>
    <%= form.file_field :main_image, multiple: false, direct_upload: true %>
  </div>

  <div>
    <%= form.label :tags_list %>
    <!-- genio: https://stackoverflow.com/questions/27646714/rails-4-text-field-for-acts-as-taggable-on-not-separating-tags-with-a-comma -->
    <% tag_list = "tag_list" %>
    <%= form.text_field :tag_list, value: @article.tag_list.to_s, :placeholder => "Comma-separated list of tag", class: 'form-control' %>
  </div>

  <div>
    <%= form.label :content_date %>
    <%= form.date_field :content_date %>
  </div>

  <div>
    <%= form.label :article_type %>
    <%= form.text_field :article_type %>
  </div>

  <div>
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <h2>AI side (Gemini should populate it, but in DEV or as an admin you can do it too)</h2>
  <!-- TODO: make it a button to generate it -->
  <div>
    <%= form.label :article_synopsis %>
    <%= form.text_area :article_synopsis %>
  </div>
  <div>
    <%= form.label :main_image_synopsis %>
    <%= form.text_area :main_image_synopsis %>
  </div>



  <div class="mt-4">
    <%= form.submit nil, class: 'btn' %>
  </div>
<% end %>
