<h1>About us</h1>

<p>This was highly wanted by my waffle, to be able to rate my ability to support the family in our trips.
    Basically my wife split our jobs pretty evenly:<br/>
    * I (the father) would go into finding places to eat, to visit and so on<br/>
    * My wife would rate me with 1 to 5 stars at the end of the trip.<br/>
</p>

<!--
<h2>Mission</h2>

<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>

<h2>Values</h2>

<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
-->
<h2>Team</h2>

<ul>
    <li>Papa (aha "The Puffin").
    <li>Mummy (aha "The waffle").
    <li>Ale (aha "The explorer").
    <li>Seby (aha "The eater").
</ul>

<h2>Graphs</h2>

<table border='3' >
  <tr>
    <td width='50%' >
      <%= line_chart Article.group_by_week(:created_at).count,title: "Articles Created by week" %>
    <td width='50%' >

    <%= pie_chart Article.group(:article_type).count, title: "Articles by type" %>
  <tr>
    <td width='50%' >
      <%= pie_chart   Article.group(:user_id).count.map{|k,v| [User.find(k).email,v]}, limit:5, title: "Articles by user email" %>
    <td width='50%' >
      <%= column_chart Article.group_by_day_of_week(:created_at, format: "%a").count, title: "Which days do we publish articles?" %>
  <tr>
    <td width='50%' > todo
      <%#= bar_chart  Article.group(:email).sum(:count)
      #Article.all.map { |a|{name: a.title, data: a.comments.count}} rescue error
      %>
    <td width='50%' >
      <%= line_chart Comment.group_by_week(:created_at).count,xtitle: "Date", ytitle: "# Comments" %>

</table>

More ideas in <%= link_to "https://chartkick.com/","https://chartkick.com/"  %>
